<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="BasicHttpBinding_IMessageService" receiveTimeout="10:00:00"
                    sendTimeout="10:00:00" maxReceivedMessageSize="104857600" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://172.1.0.205:81/CorpSMS.ServiceHost/MessageService.svc"
                binding="BasicHttpBinding" bindingConfiguration="BasicHttpBinding_IMessageService"
                contract="MessageService.IMessageService" name="BasicHttpBinding_IMessageService=">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>