<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="APISoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.mymobileapi.com/api5/api.asmx"
                binding="basicHttpBinding" bindingConfiguration="APISoap"
                contract="MyMobileAPIService.APISoap" name="APISoap" />
        </client>
    </system.serviceModel>
</configuration>