body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.CenterOverlay {
position:absolute;
left:50%;
top:50%;
width:100px;
height:100px;
opacity:0.4;
}

.control-label{
    /*white-space:nowrap;
    width:200px;*/
    /*border:5px solid red;*/
    display: block;
    padding-left: 15px;
    text-indent: -50px;

}

.logo {
    position:absolute;
    width:12%;
    left:85%;
    top:90px;
  
}
.logo-small {
     width:50px;
}
.logo-big {
     width:60%;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select
 {
    max-width: 280px;
    /*width: 13px;
    height: 13px;*/
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
}

input,
select
 {
    max-width: 280px;
    /*width: 13px;
    height: 13px;*/
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
}

textarea
 {
    max-width: 280px;
    border:solid;
    border-color:lightgray;
    border-width:1px;
    border-radius:5px;
    width:280px;
    height:200px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
}

.simTextArea {
    border:solid;
    border-color:lightgray;
    border-width:1px;
    border-radius:5px;
    width:3000px;
    height:200px;
}

.holder {
border:solid;
    border-color:lightgray;
    border-width:1px;
    border-radius:5px;
    
}

.DisplayGroup {
    border:solid;
    border-color:lightgray;
    border-width:1px;
    border-radius:5px;
    text-indent:10px;
    width:60%;
}

table.findisp {
    text-align:right;
}

table.account-display{
    
}

td.GiveMeSpace {
    padding:10px;

}

td.findisp {
    border-left:1px solid lightgray;
    border-right:1px solid lightgray;
}

td.findispHead {
    text-align:left;

}

tr.findisp:nth-child(even) {
    background-color: beige;
}

tr.fintot {
    background-color: lightblue;
    border:solid 1px;
    border-bottom-right-radius:10px;
}

table {
    width:100%;
    table-layout: fixed;
    /*border:5px solid red;*/
}

 table.pickingList, th.pickingList, td.pickingList {
    border: 3px double black;
    }

tr.bigrow {
    height:70px;
    border: 3px double black;
}

td.futureJournal{
    color:lightgray;
    
}

td.descr {
    text-align:left;
}

tr {
  

    /*border:1px solid yellow;*/
}

td {
   
    align-content:center;
    height:20px;
    /*white-space:nowrap;*/
}

table.Invoice {
    border-collapse: separate;
    border-spacing: 5px 5px;
}

td.Invoice {
    border:1px solid;
}

tr.Invoice {
    border-bottom:1px solid;
    font-size:12px;
}
tr.InvoiceLine {
    border-bottom:None;
    font-size:12px;
    
}
td.InvoiceCellHead {
    border-bottom:1px solid;
    text-align:center;
}
td.Number, th.Number {
    text-align:right;
}


table.CreditNote {
    border-collapse: separate;
    border-spacing: 5px 5px;
}

table.network {
    border:solid; 
    border-color:lightblue;
    border-bottom-right-radius:10px;
}
td.network {
    width:50px;
}

td.CreditNote {
    border:1px solid;
}

tr.CreditNote {
    border-bottom:1px solid;
    font-size:12px;
}
tr.CreditNoteLine {
    border-bottom:None;
    font-size:8px;
}
td.CreditNoteCellHead {
    border-bottom:1px solid;
    text-align:center;
}

td.PrintLabel {
    font-size:18px;
    /*border:1px solid;*/
    width:580px;
    height:219px;
    /*width:640px;
    height:240px;*/
}

table.PrintLable{
    position:absolute;
    top:60px;
    left:40px;
}