body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.control-label{
    /*white-space:nowrap;
    width:200px;*/
    /*border:5px solid red;*/
    display: block;
    padding-left: 15px;
    text-indent: -50px;

}

.logo {
    position:absolute;
    width:12%;
    left:85%;
    top:90px;
  
}
.logo-small {
     width:50px;
}
.logo-big {
     width:60%;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea
 {
    max-width: 280px;
    /*width: 13px;
    height: 13px;*/
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;

}

table {
    width:100%;
    table-layout: fixed;
    /*border:5px solid red;*/
}

tr {

    /*border:1px solid yellow;*/
}

td {
    /*border:1px solid green;
    align-content:center;
    height:20px;*/
    /*white-space:nowrap;*/
}
