@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Novus Fragrances (PTY) LTD</h3>

<address>
    Unit 16, 1st Floor<br />
    Zambesi Retail Park<br />
    C/O Sefako Makgatho St. &Aacute; Moloto Road<br/>
    Derdepoort<br/>
    Pretoria<br/>
    0030<br/>
</address>
<address>
    <strong>Enquiries:</strong>
    <abbr title="Phone">087 808 7355</abbr><br/>
    P.O. Box 2122<br/>
    Montana Park<br/>
    0159
</address>
<address>
    <strong>Support:</strong>   <a href="mailto:info@novusfragrances.co.za">info@novusfragrances.co.za</a><br />
</address>