
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
</head>
<body>
<div>
    <h1>Test</h1>
    <h2>Test</h2>
    <h3>Test</h3>
    <p>This is a test. This is only a test
    Please do not panic</p>
</div>
</body>
</html>
