<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="SCGSAStratcolPortalEntities" connectionString="metadata=res://*/StratcolDB.csdl|res://*/StratcolDB.ssdl|res://*/StratcolDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CORPSQL2;initial catalog=SCGSAStratcolPortal;persist security info=True;user id=sa;password=!qazxsw2;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
    <system.serviceModel>
      <bindings>
        <basicHttpBinding>
          <binding name="integratorCodesBinding"
                  closeTimeout="01:00:00"
                  openTimeout="01:00:00"
                  receiveTimeout="00:10:00"
                  sendTimeout="01:00:00"
                  maxBufferSize="65536000"
                  maxReceivedMessageSize="65536000">
            <security mode="Transport"/>
          </binding>
          <binding name="integratorCodesBinding1"
                   maxBufferSize="65536000"
                   maxReceivedMessageSize="65536000"
                   closeTimeout="01:00:00"
                  openTimeout="01:00:00"
                  receiveTimeout="00:10:00"
                  sendTimeout="01:00:00"/>
          <binding name="authenticateAccessBinding"
                   maxBufferSize="65536000"
                  maxReceivedMessageSize="65536000"
                  closeTimeout="01:00:00"
                  openTimeout="01:00:00"
                  receiveTimeout="00:10:00"
                  sendTimeout="01:00:00">
            <security mode="Transport"/>
          </binding>
          <binding name="authenticateAccessBinding1"
                   maxBufferSize="65536000"
                  maxReceivedMessageSize="65536000"
                   closeTimeout="01:00:00"
                  openTimeout="01:00:00"
                  receiveTimeout="00:10:00"
                  sendTimeout="01:00:00"/>
          <binding name="addStandardTransBinding"
                   maxBufferSize="65536000"
                  maxReceivedMessageSize="65536000"
                   closeTimeout="01:00:00"
                  openTimeout="01:00:00"
                  receiveTimeout="00:10:00"
                  sendTimeout="01:00:00">
            <security mode="Transport"/>
          </binding>
          <binding name="addStandardTransBinding1"
                   maxBufferSize="65536000"
                  maxReceivedMessageSize="65536000"
                   closeTimeout="01:00:00"
                  openTimeout="01:00:00"
                  receiveTimeout="00:10:00"
                  sendTimeout="01:00:00"/>
          <binding name="outputStandardTransBinding"
                   maxBufferSize="65536000"
                  maxReceivedMessageSize="65536000"
                   closeTimeout="01:00:00"
                  openTimeout="01:00:00"
                  receiveTimeout="00:10:00"
                  sendTimeout="01:00:00">
            <security mode="Transport"/>
          </binding>
          <binding name="outputStandardTransBinding1"
                   maxBufferSize="65536000"
                  maxReceivedMessageSize="65536000"
                   closeTimeout="01:00:00"
                  openTimeout="01:00:00"
                  receiveTimeout="00:10:00"
                  sendTimeout="01:00:00"/>
          <binding name="recallStandardTransBinding"
                   maxBufferSize="65536000"
                  maxReceivedMessageSize="65536000"
                   closeTimeout="01:00:00"
                  openTimeout="01:00:00"
                  receiveTimeout="00:10:00"
                  sendTimeout="01:00:00">
            <security mode="Transport"/>
          </binding>
          <binding name="recallStandardTransBinding1"
                   maxBufferSize="65536000"
                  maxReceivedMessageSize="65536000"
                   closeTimeout="01:00:00"
                  openTimeout="01:00:00"
                  receiveTimeout="00:10:00"
                  sendTimeout="01:00:00"/>
          <binding name="outputAhvTransBinding"
                   maxBufferSize="65536000"
                  maxReceivedMessageSize="65536000"
                   closeTimeout="01:00:00"
                    openTimeout="01:00:00"
                    receiveTimeout="00:10:00"
                    sendTimeout="01:00:00">
            <security mode="Transport" />
          </binding>
          <binding name="outputAhvTransBinding1"
                   maxBufferSize="65536000"
                  maxReceivedMessageSize="65536000"
                   closeTimeout="01:00:00"
                    openTimeout="01:00:00"
                    receiveTimeout="00:10:00"
                    sendTimeout="01:00:00"/>
          <binding name="rejectedStandardTransBinding"
                   maxBufferSize="65536000"
                  maxReceivedMessageSize="65536000"
                   closeTimeout="01:00:00"
                    openTimeout="01:00:00"
                    receiveTimeout="00:10:00"
                    sendTimeout="01:00:00">
            <security mode="Transport" />
          </binding>
          <binding name="rejectedStandardTransBinding1"
                   maxBufferSize="65536000"
                  maxReceivedMessageSize="65536000"
                   closeTimeout="01:00:00"
                    openTimeout="01:00:00"
                    receiveTimeout="00:10:00"
                    sendTimeout="01:00:00"/>
          <binding name="cancelledStandardTransBinding"
                   maxBufferSize="65536000"
                  maxReceivedMessageSize="65536000"
                   closeTimeout="01:00:00"
                    openTimeout="01:00:00"
                    receiveTimeout="00:10:00"
                    sendTimeout="01:00:00">
            <security mode="Transport" />
          </binding>
          <binding name="cancelledStandardTransBinding1"
                   maxBufferSize="65536000"
                  maxReceivedMessageSize="65536000"
                   closeTimeout="01:00:00"
                    openTimeout="01:00:00"
                    receiveTimeout="00:10:00"
                    sendTimeout="01:00:00"/>
          
        </basicHttpBinding>
      </bindings>
        <client>
            <endpoint address="https://live.stratcol.co.za/dynamic/administration/serv_manager/sys_integrator_codes.php" binding="basicHttpBinding" bindingConfiguration="integratorCodesBinding" contract="StratcolCodes.integratorCodesPortType" name="integratorCodesPortType"/>
            <endpoint address="https://live.stratcol.co.za/dynamic/administration/serv_manager/sys_integrator_authaccess.php" binding="basicHttpBinding" bindingConfiguration="authenticateAccessBinding" contract="StratcolAuth.authenticateAccessPortType" name="authenticateAccessPort"/>
            <endpoint address="https://live.stratcol.co.za/dynamic/administration/serv_manager/sys_integrator_input.php" binding="basicHttpBinding" bindingConfiguration="addStandardTransBinding" contract="StratcolInput.addStandardTransPortType" name="addStandardTransPort"/>
            <endpoint address="https://live.stratcol.co.za/dynamic/administration/serv_manager/sys_integrator_output.php" binding="basicHttpBinding" bindingConfiguration="outputStandardTransBinding" contract="StratcolOutput.outputStandardTransPortType" name="outputStandardTransServicePortType"/>
            <endpoint address="https://live.stratcol.co.za/dynamic/administration/serv_manager/sys_integrator_recall.php" binding="basicHttpBinding" bindingConfiguration="recallStandardTransBinding" contract="StratcolRecall.recallStandardTransPortType" name="recallStandardTransServicePort"/>
            <endpoint address="https://live.stratcol.co.za/dynamic/administration/serv_manager/sys_integrator_ahv.php" binding="basicHttpBinding" bindingConfiguration="outputAhvTransBinding" contract="StratcolAhv.outputAhvTransPortType" name="outputAhvTransServicePort" />
            <endpoint address="https://live.stratcol.co.za/dynamic/administration/serv_manager/sys_integrator_rejections.php" binding="basicHttpBinding" bindingConfiguration="rejectedStandardTransBinding" contract="StratcolRejected.rejectedStandardTransPortType" name="rejectedStandardTransServicePort" />
            <endpoint address="https://live.stratcol.co.za/dynamic/administration/serv_manager/sys_integrator_search_cancellations.php" binding="basicHttpBinding" bindingConfiguration="cancelledStandardTransBinding" contract="StratcolSearchCanncelled.searchCancelledTransPortType" name="searchCancelledTransPortType" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
