<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="SCGSAStratcolPortalEntities" connectionString="metadata=res://*/StratcolDB.csdl|res://*/StratcolDB.ssdl|res://*/StratcolDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CORPSQL2;initial catalog=SCGSAStratcolPortal;persist security info=True;user id=sa;password=!qazxsw2;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
