<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
      <bindings>
        <basicHttpBinding>
          <binding name="integratorCodesBinding" closeTimeout="01:00:00"
            openTimeout="01:00:00" receiveTimeout="00:10:00" sendTimeout="01:00:00"
            maxBufferSize="65536000" maxReceivedMessageSize="65536000">
            <security mode="Transport" />
          </binding>
          <binding name="integratorCodesBinding1" closeTimeout="01:00:00"
            openTimeout="01:00:00" receiveTimeout="00:10:00" sendTimeout="01:00:00"
            maxBufferSize="65536000" maxReceivedMessageSize="65536000" />
          <binding name="authenticateAccessBinding" closeTimeout="01:00:00"
            openTimeout="01:00:00" receiveTimeout="00:10:00" sendTimeout="01:00:00"
            maxBufferSize="65536000" maxReceivedMessageSize="65536000">
            <security mode="Transport" />
          </binding>
          <binding name="authenticateAccessBinding1" closeTimeout="01:00:00"
            openTimeout="01:00:00" receiveTimeout="00:10:00" sendTimeout="01:00:00"
            maxBufferSize="65536000" maxReceivedMessageSize="65536000" />
          <binding name="addStandardTransBinding" closeTimeout="01:00:00"
            openTimeout="01:00:00" receiveTimeout="00:10:00" sendTimeout="01:00:00"
            maxBufferSize="65536000" maxReceivedMessageSize="65536000">
            <security mode="Transport" />
          </binding>
          <binding name="addStandardTransBinding1" closeTimeout="01:00:00"
            openTimeout="01:00:00" receiveTimeout="00:10:00" sendTimeout="01:00:00"
            maxBufferSize="65536000" maxReceivedMessageSize="65536000" />
          <binding name="outputStandardTransBinding" closeTimeout="01:00:00"
            openTimeout="01:00:00" receiveTimeout="00:10:00" sendTimeout="01:00:00"
            maxBufferSize="65536000" maxReceivedMessageSize="65536000">
            <security mode="Transport" />
          </binding>
          <binding name="outputStandardTransBinding1" closeTimeout="01:00:00"
            openTimeout="01:00:00" receiveTimeout="00:10:00" sendTimeout="01:00:00"
            maxBufferSize="65536000" maxReceivedMessageSize="65536000" />
          <binding name="recallStandardTransBinding" closeTimeout="01:00:00"
            openTimeout="01:00:00" receiveTimeout="00:10:00" sendTimeout="01:00:00"
            maxBufferSize="65536000" maxReceivedMessageSize="65536000">
            <security mode="Transport" />
          </binding>
          <binding name="recallStandardTransBinding1" closeTimeout="01:00:00"
            openTimeout="01:00:00" receiveTimeout="00:10:00" sendTimeout="01:00:00"
            maxBufferSize="65536000" maxReceivedMessageSize="65536000" />
          <binding name="outputAhvTransBinding" closeTimeout="01:00:00"
            openTimeout="01:00:00" receiveTimeout="00:10:00" sendTimeout="01:00:00"
            maxBufferSize="65536000" maxReceivedMessageSize="65536000">
            <security mode="Transport" />
          </binding>
          <binding name="outputAhvTransBinding1" closeTimeout="01:00:00"
            openTimeout="01:00:00" receiveTimeout="00:10:00" sendTimeout="01:00:00"
            maxBufferSize="65536000" maxReceivedMessageSize="65536000" />
          <binding name="rejectedStandardTransBinding" closeTimeout="01:00:00"
            openTimeout="01:00:00" receiveTimeout="00:10:00" sendTimeout="01:00:00"
            maxBufferSize="65536000" maxReceivedMessageSize="65536000">
            <security mode="Transport" />
          </binding>
          <binding name="rejectedStandardTransBinding1" closeTimeout="01:00:00"
            openTimeout="01:00:00" receiveTimeout="00:10:00" sendTimeout="01:00:00"
            maxBufferSize="65536000" maxReceivedMessageSize="65536000" />
          <binding name="searchCancelledTransBinding">
            <security mode="Transport" />
          </binding>
          <binding name="searchCancelledTransBinding1" />
        </basicHttpBinding>
      </bindings>
        <client>
            <endpoint address="https://live.stratcol.co.za/dynamic/administration/serv_manager/sys_integrator_codes.php"
                binding="basicHttpBinding" bindingConfiguration="integratorCodesBinding"
                contract="StratcolCodes.integratorCodesPortType" name="integratorCodesPortType" />
            <endpoint address="https://live.stratcol.co.za/dynamic/administration/serv_manager/sys_integrator_authaccess.php"
                binding="basicHttpBinding" bindingConfiguration="authenticateAccessBinding"
                contract="StratcolAuth.authenticateAccessPortType" name="authenticateAccessPort" />
            <endpoint address="https://live.stratcol.co.za/dynamic/administration/serv_manager/sys_integrator_input.php"
                binding="basicHttpBinding" bindingConfiguration="addStandardTransBinding"
                contract="StratcolInput.addStandardTransPortType" name="addStandardTransPort" />
            <endpoint address="https://live.stratcol.co.za/dynamic/administration/serv_manager/sys_integrator_output.php"
                binding="basicHttpBinding" bindingConfiguration="outputStandardTransBinding"
                contract="StratcolOutput.outputStandardTransPortType" name="outputStandardTransServicePortType" />
            <endpoint address="https://live.stratcol.co.za/dynamic/administration/serv_manager/sys_integrator_recall.php"
                binding="basicHttpBinding" bindingConfiguration="recallStandardTransBinding"
                contract="StratcolRecall.recallStandardTransPortType" name="recallStandardTransServicePort" />
            <endpoint address="https://live.stratcol.co.za/dynamic/administration/serv_manager/sys_integrator_ahv.php"
                binding="basicHttpBinding" bindingConfiguration="outputAhvTransBinding"
                contract="StratcolAhv.outputAhvTransPortType" name="outputAhvTransServicePort" />
            <endpoint address="https://live.stratcol.co.za/dynamic/administration/serv_manager/sys_integrator_rejections.php"
                binding="basicHttpBinding" bindingConfiguration="rejectedStandardTransBinding"
                contract="StratcolRejected.rejectedStandardTransPortType"
                name="rejectedStandardTransServicePort" />
            <endpoint address="https://live.stratcol.co.za/dynamic/administration/serv_manager/sys_integrator_search_cancellations.php"
                binding="basicHttpBinding" bindingConfiguration="searchCancelledTransBinding"
                contract="StratcolSearchCanncelled.searchCancelledTransPortType"
                name="searchCancelledTransPortType" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
