@model GenericData.GenericGridReport
@{
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Member Average Purchases</title>
</head>
<body>
<div>
    @Html.Partial("GenericGridReport", Model)
</div>
</body>
</html>
